# read data

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('./US_Accidents_March23.csv')

In [3]:
import sys
sys.path.append('./Code_V2/')
import public_func as base

In [4]:
base.subset_year(data, 2022, './data_2022.csv')

In [5]:
data2022 = pd.read_csv('./data_2022.csv')

In [6]:
data2022.shape

(1762452, 46)

In [8]:
data2022.Severity.value_counts(normalize = True)

Severity
2    0.909725
3    0.044232
4    0.024553
1    0.021490
Name: proportion, dtype: float64

In [9]:
data2022.isna().sum()

ID                            0
Source                        0
Severity                      0
Start_Time                    0
End_Time                      0
Start_Lat                     0
Start_Lng                     0
End_Lat                  236182
End_Lng                  236182
Distance(mi)                  0
Description                   0
Street                     7236
City                         65
County                        0
State                         0
Zipcode                     307
Country                       0
Timezone                   1713
Airport_Code               7199
Weather_Timestamp         29595
Temperature(F)            38718
Wind_Chill(F)             54508
Humidity(%)               41107
Pressure(in)              33134
Visibility(mi)            41953
Wind_Direction            48385
Wind_Speed(mph)           48377
Precipitation(in)         64475
Weather_Condition         38688
Amenity                       0
Bump                          0
Crossing                      0
Give_Way                      0
Junction                      0
No_Exit                       0
Railway                       0
Roundabout                    0
Station                       0
Stop                          0
Traffic_Calming               0
Traffic_Signal                0
Turning_Loop                  0
Sunrise_Sunset            14896
Civil_Twilight            14896
Nautical_Twilight         14896
Astronomical_Twilight     14896
dtype: int64

In [10]:
test = data2022.dropna()
test.shape

(1421077, 46)

In [12]:
test.Severity.value_counts(normalize = True)

Severity
2    0.974142
4    0.025858
Name: proportion, dtype: float64

In [14]:
data2022.State.value_counts()

State
CA    375913
FL    263119
VA     99311
TX     95509
NY     94765
SC     84880
PA     80839
NC     72167
NJ     42244
AZ     39423
TN     38910
MN     38354
MD     37379
LA     33770
GA     33129
OR     30127
MI     28975
OH     25746
IL     24610
CO     20930
CT     20171
AL     20054
MO     19841
UT     17439
WA     15416
IN     14499
MT     14072
AR      9432
OK      8969
WI      8078
DC      6959
KS      6525
MA      6281
WV      5344
IA      4891
NV      4286
MS      3483
DE      3088
KY      2713
ID      2264
WY      2075
RI      1601
NE      1478
NM      1413
ND      1288
NH       508
ME       109
VT        38
SD        37
Name: count, dtype: int64

In [15]:
GA = data2022[data2022.State == 'GA']
GA.shape

(33129, 46)

In [16]:
severity_dfs = {f"df_severity_{level}": data2022[data2022['Severity'] == level] for level in data2022['Severity'].unique()}

df_severity_1 = severity_dfs['df_severity_1']
df_severity_2 = severity_dfs['df_severity_2']
df_severity_3 = severity_dfs['df_severity_3']
df_severity_4 = severity_dfs['df_severity_4']

In [17]:
data2022.Severity.value_counts(normalize = True)*10000

Severity
2    9097.246336
3     442.321266
4     245.532928
1     214.899470
Name: proportion, dtype: float64

In [19]:
#random sample same percentage from each severity, in total we have 10K records

# Severity
# 2    9097.246336
# 3     442.321266
# 4     245.532928
# 1     214.899470


df1 = df_severity_1.sample(n = 215, random_state=20250316)
df2 = df_severity_2.sample(n = 9097, random_state=20250316)
df3 = df_severity_3.sample(n = 442, random_state=20250316)
df4 = df_severity_4.sample(n = 246, random_state=20250316)

df_list = [df1, df2, df3, df4]
df = pd.concat(df_list)

df.shape

(10000, 46)

In [24]:
df.head(5)

,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight,severity_binary
74560,A-592585,Source2,1,2022-06-15 17:51:55,2022-06-15 18:21:33,39.795151,-84.191772,NaN,NaN,0.0,...,False,False,False,False,False,Day,Day,Day,Day,0
45356,A-561008,Source2,1,2022-07-20 08:02:22,2022-07-20 08:32:07,29.401381,-98.524460,NaN,NaN,0.0,...,False,True,False,False,False,Day,Day,Day,Day,0
58603,A-575239,Source3,1,2022-07-05 08:10:46,2022-07-05 09:10:24,32.790741,-96.803574,NaN,NaN,0.0,...,True,False,False,True,False,Day,Day,Day,Day,0
104230,A-624971,Source2,1,2022-05-12 04:15:06,2022-05-12 04:44:40,43.219830,-85.571182,NaN,NaN,0.0,...,False,False,False,True,False,Night,Night,Night,Night,0
28724,A-543438,Source2,1,2022-08-08 08:54:01,2022-08-08 09:23:49,34.881779,-82.263802,NaN,NaN,0.0,...,False,False,False,False,False,Day,Day,Day,Day,0

In [23]:
df['severity_binary'] = np.where(df['Severity'].isin([1, 2]), 0, 1)
GA['severity_binary'] = np.where(GA['Severity'].isin([1, 2]), 0, 1)

/var/folders/6w/55ktrcq55w369hjz_yf_vz880000gn/T/ipykernel_42489/827479680.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  GA['severity_binary'] = np.where(GA['Severity'].isin([1, 2]), 0, 1)

In [25]:
df.to_csv('./data10K.csv', index = False)

In [26]:
GA.to_csv('./dataGA.csv', index = False)